@for $i from 1 through 10 {
    .opacity-#{$i * 10} {
        opacity: $i / 10;
    }
}

.corner-tl {
    top: 0;
    left: 0;
}

.animate-grow-x {
    transform-origin: left;
    animation: grow-x forwards ease 1.5s;
}

.bg-img-fade {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes grow-x {
    from {
        transform: scaleX(0)
    }

    to {
        transform: scaleX(1)
    }
}
